html, body {
  margin: 0;
  padding: 0;
	font-size: 12px;
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-bottom: -20px;
  min-height: 600px;
  background-color: hsl(45, 29%, 94%);
}

h1, h2, .theory header { 
  width: 100%;
}

.theory header {
  font: bold 2rem 'Exo 2';
}

h2, .theory header {
  color: hsl(214, 61%, 30%);
	margin: 0.75rem 0 0.5rem 0;
}

h2 {
  margin: 0.75rem 0 0.25rem 0;
  padding-left: 0.35rem;
}

.test-results h2 {
  margin: 0.5rem 0 1rem 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
  text-indent: 0.75rem;
  line-height: 1.5rem;
  margin: 0.2rem 0;
}

.test-name {
  display: flex;
  height: 6rem;
  align-content: center;  
  background-color: hsl(74, 60%, 64%);
}

.test-name > a, a > h1 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.test-name > a {
  width: 100%;  
}

a > h1 {
  flex-flow: row nowrap;
}
 
.test {
  height: 100%;
  margin-top: -0.5rem;
  font-size: 5rem;
  color: hsl(268, 60%, 30%);
}

.hide-show {  
  width: 100%;
  height: 3.25rem;
  background-color: hsl(214, 52%, 31%);
}

.hide-show > span {
  font-size: 1.5rem;
  color: hsl(74, 70%, 60%);
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  margin-bottom: 70px;
}

article, section {
  display: flex;
  flex-flow: row wrap;
}

.description > img {
  display: flex;
	width: 100%;
	max-width: 450px;
	margin: 1rem auto 0.25rem;
}

.testarea {
	flex: 1 0 300px;
  height: auto;
  flex-flow: column nowrap;
}

.testspace {
  border-top: 3px solid hsl(0, 1%, 33%);
  padding: 5px 0;
  margin: 0.25rem 0;
}

.test-results {
	flex-flow: column nowrap;
  padding: 0 0.25rem;
  margin-top: 0.5rem;
  flex: 50%;
}

.numerical, .graphical {
  display: flex;
}

.textbox {
  flex-flow: row wrap;
}

aside {
	display: none;
}

.options-list {
	display: block;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}

.values-list, .options-list > button {
  width: 6.5rem;
  height: 3rem;
  margin-top: 0.5rem;
  font-size: 1.75rem;
  border: 2px solid hsl(214, 52%, 31%);
  background-color: silver;
}

.options-list > button {
  margin-left: 0.75rem;
  border-radius: 0.5rem;
}

.text-underline {
  display: inline-block;
  width: 100%;
  font: 600 1.125rem 'Exo 2';
	text-decoration: underline;
  margin: 0.25rem 0;
}

ol {
	width: 90%;
  padding-left: 1.25rem;
  margin: 0;
}

li {
  margin: 0.25rem 0;
}

table {
  width: 16rem;
  height: 9rem;
  margin: 0.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.35rem;
}

td {
  height: 3rem;
  background-color: white;
  border: 1px solid black;  
}

.value {
  width: 30%;
  padding-left: 0.75rem;
}

.table-description {
  width: auto;
  padding: 0 0.5rem;
  text-align: right;
}

canvas {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 3px solid black;
  z-index: 10;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: thin solid hsl(216, 66%, 40%);
  background-color: transparent;
  z-index: 5;
}

.pi {
  font: 500 1.125em 'Exo 2';
}

footer {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  color: hsl(41, 78%, 84%);
  background-color: hsl(201, 10%, 27%);
}

footer > span {
  display: inline-block;
  padding: 0.5rem;
  font-style: italic;
}

@media screen and (min-width: 480px) {
  html, body {
		font-size: 14px;
	}
	
  .hide-show > span {
    font-size: 1.65rem;
  }
  
	main {
		padding: 10px;
	}
  
  aside {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 160px;
    padding: 0.25rem 0.7rem;
    color: hsl(34, 69%, 14%);
    background-color: rgb(212, 221, 238);
  }
  
  aside:before {
    position: absolute;
    content: '';
  }

	aside > header {
		font-size: 1.25rem;
		margin: 5px 0;
	}

	aside a {
		color: hsl(157, 40%, 15%);
		text-decoration: underline;
	}
}

@media screen and (min-width: 480px) and (max-width: 559px) {  
  aside:before {
    border-top: 2px solid hsl(9, 95%, 44%);
    border-bottom: 2px solid hsl(9, 95%, 44%);
    width: 80%;
    top: 0%;
    bottom: 0%;
    left: 10%;
    right: 10%;
  }
}

@media screen and (min-width: 560px) {
  .theory {    
    margin-bottom: 1rem;
  }

  .description > img {
    flex: 0 0 67%;
    margin: 1rem 0 0.25rem;
  }

  aside {
    flex: 1 1 195px;
  }

  aside:before {
    border: none;
    border-left: 2px solid hsl(9, 95%, 44%);
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 0%;
  }
}

@media screen and (min-width: 560px) and (max-width: 639px) {
  .numerical {
    height: 240px;
  }

  .list, .list + div {
    display: block;
  }

  .list {
    max-width: 320px;
  }
  
  .list + div {
    float: left;
  }

}

@media screen and (min-width: 640px) {
  main {
    padding: 10px 15px;
  }

  aside {
    padding: 1rem 0.5rem 3rem 1rem;
  }

	.numerical {
		flex: 1 0 50%;
  }
  
  .graphical {
		flex: 0 0 320px;
  }
  
  .test-results {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 768px) {
	html, body {
		font-size: 16px;
	}
  
  .description > img {
    max-width: 500px;
  }

	.numerical {
		flex: 1 0 56%;
  }
  
  .graphical {
		flex: 1 0 320px;
	}
  
}

@media screen and (min-width: 960px) {
	.container {
		width: 960px;
		margin: 0 auto;
  }

  main {
		padding: 15px 20px;
  }
  
  .description > img {
    max-width: 500px;
  }
  	
	aside {
		flex: 0 0 275px;
	}
    
  .textbox {
		flex-flow: row nowrap;
  }

  .numerical {
    flex: 1 0 auto;
  }

  .graphical {
    flex: 0 0 360px;
  }
}